@import url("https://fonts.googleapis.com/css?family=Risque");


#mainform{
    width:960px;
    margin:20px auto;
    padding-top:20px;
    font-family: 'Risque', serif;
}

input[type=submit]{
    background-color:#2a8b0e;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    position: absolute;
    left: 25%;
    border-radius: 4px;

}

fieldset
{
    margin-right: 40px;
    padding-left: 1em;
}

fieldset[class=inner]{
    border: 0px;
    padding-left: 32px;
}

button[class=delbtn]{
    background-color: #2a8b0e;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    border-radius: 4px;
}

#products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#products td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#products tr:nth-child(even){background-color: #f2f2f2;}

#products tr:hover {background-color: #ddd;}

#products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
button[class=add]{
    background-color: #2a8b0e;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    border-radius: 4px;
}
button[class=back]{
    background-color: #2a8b0e;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    border-radius: 4px;
    position: absolute;
    left: 30%;
}